@use 'partials';

.hero-section {
  display: flex;
  flex-direction: column;
  gap: .75em;
  margin: 0;

  &__text-container {
    background-color: #eee;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;

    @media screen and (min-width: 500px) {
      text-align: center;
      padding: 0 3em;

      .hero-section__contact-btn {
        align-self: center;
      }
    }

    @media screen and (min-width: 768px) {
      text-align: left;
      padding: 2em;
      padding-right: 3em;
      justify-content: center;
      gap: .5em;

      .hero-section__heading {
        max-width: 450px;

      }

      .hero-section__contact-btn {
        align-self: flex-start;
      }
    }
  }

  &__heading {
    font-family: var(--heading-font);
    font-size: clamp(20px, 1.5rem + 1vw, 40px);
    color: var(--accent1-color);

    @supports (text-wrap: balance) {
      text-wrap: balance
    }
  }

  &__intro {
    font-family: var(--paragraph-font);
    font-size: .95rem;
  }

  &__contact-btn {
    align-self: flex-start;
    justify-self: center;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    max-height: 350px;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 0;

    & > * {
      flex-basis: 50%;
    }

    &__image {
      height: 100%;
      max-height: 100%;
    }
  }
}

.about-section {
  margin-top: 2em;

  &__timeline-container {
    display: flex;
    flex-direction: column;
  }

  .timeline__controls {
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    padding: 0;
  }

  .timeline__control {
    margin: 0 .5em;
    display: inline-block;
    padding: .75em 1.75em;
    font-size: .85rem;
    outline: none;
    border: none;
    background: none;
    color: #ddd;
    cursor: pointer;
    transition: all .5s ease-in-out;

    &.active {
      color: var(--accent2-color);
      font-weight: bold;
      transform: scale(110%);
      transform-origin: left;
    }
  }

  .timeline__entry-container {
    position: relative;
    min-height: 180px;
  }

  .timeline__entry {
    border: 1px solid black;
    border-radius: .35em;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 95%;
    max-width: 400px;
    background-color: var(--accent2-color);
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "hd img"
      "p img"
      "p img"
      "p img"
    ;

    &__heading {
      grid-area: hd;
      padding: 0 .5em;
      font-size: clamp(12px, 12px + 1vw, 18px);
      color: var(--accent1-color);
      align-self: center;
    }

    &__text {
      grid-area: p;
      padding: .5em 1em;
      font-size: clamp(10px, 10px + 1vw, 14px);
      align-self: center;
    }

    &__img {
      grid-area: img;
      height: 100%;
      object-fit: cover;
    }

    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }

  @media screen and (min-width: 768px) {
    &__timeline-container {
      flex-direction: row;
      max-width: 700px;
      margin: 0 auto;
    }

    .timeline__controls {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      width: 30%;
      background-color: transparent;

    }

    .timeline__control {
      color: #555;

      &.active {
        color: #000
      }
    }

    .timeline__entry-container {
      width: 70%;
      min-height: 160px;
    }

    .timeline__entry {
      width: 100%;
    }
  }
}

.offering-section {

  .offering-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5em;
    padding: 1em 2em;
    max-width: 1200px;
    margin: 0 auto;

    & > * {
      flex-basis: calc(calc(600px - 100%) * 999);
      flex-grow: 1;
    }

    @media screen and (min-width: 768px) {
      gap: 1em;
    }
  }

  .offering {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
    max-width: 300px;

    i {
      display: inline-block;
      width: 50px;
      aspect-ratio: 1;
      border: 1px solid black;
      border-radius: 50%;
    }

    &__text {
      text-align: center;
      font-size: .85rem;
    }
  }
}

.testimonial-section {
  background-color: #eee;
  padding: 2em 0;

  .testimonial-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5em;
    padding: 1em 2em;
    max-width: 1200px;
    margin: 0 auto;

    & > * {
      flex-basis: calc(calc(600px - 100%) * 999);
      flex-grow: 1;
    }

    @media screen and (min-width: 768px) {
      gap: 1em;
    }
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
  }

  .client-img {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  .client-testimony {
    text-align: center;
  }
}

.catalogue-section {
  .catalogue-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    gap: 2em;
    padding: .75em 2em;
  }

  .catalogue__art-entry {
    width: 100px;
    aspect-ratio: 1;
    object-fit: cover;
    justify-self: center;
    flex-grow: 1;
  }
}

.contact-section {
  margin-bottom: 0;
  background-color: var(--headline-color-on-white);
  color: var(--headline-color-on-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  padding: 3em 1em;

  .contact-btn {
    background-color: var(--accent1-color);

    &:hover {
      background-color: var(--headline-color-on-color);
      color: var(--accent1-color);
    }
  }
}
