@use 'partials';

.services__hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  background-color: #eee;
  min-height: 60vh;
  text-align: center;
  padding: 0 2em;

}

.services-type-container {}

.service-type {
  text-align: center;
  margin: 1em auto;
  max-width: 300px;
  padding: 0 .5em;

  &__img {
    width: 100px;
    aspect-ratio: 1;
    border: 1px solid black;
    margin: 0 auto;
  }

  &__name {
    font-size: clamp(12px, 12px + 1vw, 18px);
  }

  p {
    font-size: clamp(10px, 10px + 1vw, 15px);
  }
}
