@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  outline: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


:root {
  /* change the values below to your colors from your palette */
  --primary-color: #61867f;
  --secondary-color: #30368e;
  --accent1-color: #441111;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: 'IM Fell French Canon SC';
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #30368e;
  /* headlines on a white background */
  --headline-color-on-color: white;
  /* headlines on a colored background */
  --paragraph-color-on-white: #441111;
  /* paragraph text on a white background */
  --paragraph-color-on-color: white;
  /* paragraph text on a colored background */
  --paragraph-background-color: #30368e;
  --nav-link-color: white;
  --nav-background-color: #61867f;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #441111;

}

body {
  font-family: var(--paragraph-font);
}
