@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  outline: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #61867f;
  --secondary-color: #30368e;
  --accent1-color: #441111;
  --accent2-color: white;
  /* change the values below to your chosen font(s) */
  --heading-font: "IM Fell French Canon SC";
  --paragraph-font: Lato, Helvetica, sans-serif;
  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #30368e;
  /* headlines on a white background */
  --headline-color-on-color: white;
  /* headlines on a colored background */
  --paragraph-color-on-white: #441111;
  /* paragraph text on a white background */
  --paragraph-color-on-color: white;
  /* paragraph text on a colored background */
  --paragraph-background-color: #30368e;
  --nav-link-color: white;
  --nav-background-color: #61867f;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #441111;
}

body {
  font-family: var(--paragraph-font);
}

.contact-btn {
  padding: 0.75em 2em;
  border: none;
  outline: none;
  background-color: var(--headline-color-on-white);
  color: var(--accent2-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  vertical-align: baseline;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 0.25em;
}
.contact-btn:hover {
  background-color: var(--accent1-color);
}
.contact-btn:active {
  scale: 80%;
}

section {
  margin-bottom: 3em;
}

.section__heading,
.section__intro {
  text-align: center;
}

.section__heading {
  font-family: var(--heading-font);
  font-size: clamp(18px, 1.25rem + 1vw, 34px);
  text-transform: capitalize;
}

.section__intro {
  padding: 0 2em;
  font-size: clamp(10px, 10px + 1vw, 16px);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: var(--nav-background-color);
}
.main-nav__logo {
  width: 5rem;
}
.main-nav__items-container {
  display: flex;
  gap: 1em;
  list-style: none;
}
.main-nav__items-container a {
  text-decoration: none;
  color: var(--nav-link-color);
}
.main-nav__hamburger-btn {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  display: none;
}
.main-nav__hamburger-btn .line {
  width: 40px;
  height: 4px;
  background-color: red;
}

.footer {
  padding: 2em 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
}
.footer .social-media-container {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  list-style: none;
  padding: 0;
}
@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
  }
}

.about__hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: #eee;
  min-height: 60vh;
  text-align: center;
  padding: 0 2em;
}

.about-section .about-entry {
  margin: 2em 0;
  padding: 0 1em;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1em;
  text-align: center;
}
.about-section .about-entry > * {
  max-width: 400px;
}
.about-section .about-entry__heading {
  font-size: clamp(12px, 12px + 1vw, 18px);
}
.about-section .about-entry small {
  font-style: italic;
}
.about-section .about-entry__details {
  font-size: clamp(10px, 10px + 1vw, 15px);
}
.about-section .about-entry__image {
  aspect-ratio: 1;
  width: 100px;
  border: 1px solid black;
}
.about-section .about-entry:nth-of-type(even) {
  background-color: var(--headline-color-on-white);
  padding: 2em 1em;
  color: var(--accent2-color);
}
.about-section .about-entry:nth-of-type(even) .about-entry__details {
  color: #ddd;
}
@media screen and (min-width: 768px) {
  .about-section .about-entry {
    flex-direction: row;
    justify-content: space-around;
    padding: 3em;
  }
  .about-section .about-entry__text-container {
    text-align: left;
  }
  .about-section .about-entry:nth-of-type(even) {
    background-color: unset;
    color: unset;
    padding: 3em;
    flex-direction: row-reverse;
  }
  .about-section .about-entry:nth-of-type(even) .about-entry__text-container {
    text-align: right;
  }
  .about-section .about-entry:nth-of-type(even) .about-entry__details {
    color: unset;
  }
}/*# sourceMappingURL=about.css.map */